<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Itinerary:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if user.itineraries}}
  <div class="col-md-6 project-list">
    <h3>Current Itineraries:</h3>

    {{#each user.itineraries as |itinerary|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/itinerary/{{itinerary.id}}">{{itinerary.itinerary_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{itinerary.id}}">DELETE</button>
        <input type="checkbox" class="completed-checkbox" data-id="{{itinerary.id}}">
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
